@*@model FirstPro.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="control-label"></label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagepath" class="control-label"></label>
                <input asp-for="Imagepath" class="form-control" />
                <span asp-validation-for="Imagepath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jop" class="control-label"></label>
                <input asp-for="Jop" class="form-control" />
                <span asp-validation-for="Jop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roleid" class="control-label"></label>
                <select asp-for="Roleid" class="form-control" asp-items="ViewBag.Roleid"></select>
                <span asp-validation-for="Roleid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flagchif" class="control-label"></label>
                <input asp-for="Flagchif" class="form-control" />
                <span asp-validation-for="Flagchif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

*@
@model FirstPro.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h1 class="text-center">Edit User</h1>


<div class="d-flex justify-content-center"> <!-- Centering the card -->
    <div class="card" style="width: 50%;">
        <div class="card-body">
            <form asp-action="Edit" enctype="multipart/form-data"> 
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" />

                 <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="control-label"></label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagefile" class="control-label"></label>
                <input asp-for="imagefile" class="form-control" />
                <span asp-validation-for="imagefile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jop" class="control-label"></label>
                <input asp-for="Jop" class="form-control" />
                <span asp-validation-for="Jop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roleid" class="control-label"></label>
                <select asp-for="Roleid" class="form-control" asp-items="ViewBag.Rolename"></select>
                <span asp-validation-for="Roleid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flagchif" class="control-label"></label>
                <input asp-for="Flagchif" class="form-control" />
                <span asp-validation-for="Flagchif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index">Back to List</a>

                </div>
            </form>
        </div>
    </div>
</div>


